.content-container {
    padding: 20px;
    margin-left: -40px;
    margin-top: 20px;
    transition: margin-left 0.3s ease-in-out;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .content-container {
      margin-left: 20px; /* Adjust margin for smaller screens */
      margin-top: 20px;
    }
  }
  
  /* Media query for very small screens */
  @media (max-width: 480px) {
    .content-container {
      margin-left: 10px; /* Further adjust margin for very small screens */
      margin-top: 10px;
    }
  }